<!DOCTYPE html>
<html lang="en">
	<head>
<!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</head>
<body>
<main role="main">
<div class="container-fluid bg-dark">
<div class="row">
<div class="col-10">
<div class="card shadow-sm">
{% if character %}
	Name: {{ character.name }}<br>
	Player: {{ character.player }}<br>
	Occupation: {{ character.occupation }}<br>
	Age: {{ character.age }}<br>
	Sex: {{ character.sex }}<br>
	Residence: {{ character.residence }}<br>
	Birthplace: {{ character.birthplace }}<br>
	STR: {{ character.strength }}<br>
	DEX: {{ character.dexterity }}<br>
	INT: {{ character.intelligence }}<br>
	CON: {{ character.constitution }}<br>
	APP: {{ character.appearance }}<br>
	POW: {{ character.power }}<br>
	SIZ: {{ character.size }}<br>
	EDU: {{ character.education }}<br>
	MvR: {{ character.move_rate }}<br>
	Major Wound: {{ character.major_wound }}<br>
	HP: {{ character.hit_points }}<br>
	SAN: {{ character.sanity }}<br>
	LCK: {{ character.luck }}<br>
	MP: {{ character.magic_points }}<br>
	DB: {{ character.damage_bonus }}<br>
	Build: {{ character.build }}<br>
	Personal Description: {{ character.personal_description }}<br>
	Ideology and Beliefs: {{ character.ideology_and_beliefs }}<br>
	Significant People: {{ character.significant_people }}<br>
	Meaningful Locations: {{ character.meaningful_locations }}<br>
	Treasured Posessions: {{ character.teasured_possessions }}<br>
	Traits: {{ character.traits }}<br>
	Injuries: {{ character.injuries }}<br>
	Phobias and Manias: {{ character.phobias_and_manias }}<br>
	Arcane Tomes: {{ character.arcane_tomes }}<br>
	Spells: {{ character.spells }}<br>
	Artifacts: {{ character.artifacts }}<br>
	Encounters: {{ character.encounters }}<br>
	Spending Level: {{ character.spending_level }}<br>
	Cash: {{ character.cash }}<br>
	Assets: {{ character.assets }}<br>
	Notes: {{ character.notes }}<br>
	
{% else %}
	<p>Character not available.</p>
{% endif %}
</div><!-- .card .shadow-sm -->
</div><!-- .col-10 -->
<div class="col-2">
<div class="card shadow-sm">
<button>Roll</button>
</div><!-- .col-2 -->
</div><!-- .row -->
</div><!-- .container-fluid .bg-dark -->
</main>
</body>
</html>